<div class="flat-description">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">

      </div>
    </div>
  </div>
</div>




 <!--  <div class="grid">
    <div class="a1">
      <p>hello world</p>
    </div>
    <div class="a2">
      <p>hello world</p>
    </div>
    <div class="b1">
      <p>hello world</p>
    </div>
    <div class="b2">
      <p>hello world</p>
    </div>
    <div class="c1">
      <p>hello world</p>
    </div>
    <div class="c2">
      <p>hello world</p>
    </div>
  </div>
</div>
 -->
