.dashboard {
  display: flex;
  width: 100vw;
  justify-content: center;
  padding: 25px;
}

.dashboard-background {
  background-color: white;
}

.small-avatar {
  width: 80px;
  border-radius: 50%;
}

.flat-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 56px;
}

.desc {
  margin-top: 0;
}

.flat-header {
  padding: 10px 0;
  text-align: center;
}

.flat-name {
  padding: 10px 35px;
}

.book-form-container {
  display: flex;
  text-align: center;
}
.book-form {
  padding: 10px 40px;
  background-color: $light-gray;
  min-width: 350px;
}

.form-dropdown {
  width: 100%;
}

.form-book-btn {
  width: 100%;
}

// * {
//   border: thin red solid;
// }
