.team {
  text-align: center;
  padding: 100px;
  .fa-heart {
    color: $red;
  }
  height: calc(100vh - 170px);
}

.user-container {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: center;
  .avatar {
    width: 200px;
    border-radius: 50%;
  }
  text-decoration: none;
  a:hover {
    opacity: 1;
    text-decoration:none;
  }
}




